.cv{
	width: 780px;
	height: 960px;
	margin: auto;
}
body{
	background-image: url("fond_cv.png");
	background-color: #FFFFFF;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 900px 1200px;
}

.profil{
	margin-left: 150px;
	margin-top: -10px;
	padding-left: 250px;
}
h3{
	margin-left: 30px;
}
.box1, .box2, .box3{
	display: flex;
	justify-content: space-between;
}
.p1{
	margin-left: -10px;
}
.p3{
	margin-left: 20px;
}
.p4{
	margin-left: 50px;
}
#sec-gauche{

}

#sec-droite{
	padding-right: 150px;
}
.aide{
	float: right;
	text-indent: 20px;
}

.dates{
	margin-left: 250px;
	margin-top: 2px;
	line-height: 1;
}
.titre{
	padding-right: 120px;
}
.diplomes{
	text-align: left;
	margin-right: 60px;
}
.fonction, .descriptif{
	text-align: justify;
}